/*============================================================================================================
 General CSS
============================================================================================================*/
html
{
	box-sizing: border-box;
}

*,
*::before,
*::after
{
	box-sizing: inherit;
}

body, html
{
	/*height:100%;*/
}

body
{
	overflow: hidden;
	font-family: Arial Rounded MT Bold;
}

/*============================================================================================================
 App CSS
============================================================================================================*/
#root
{
	height:100%;
	overflow:hidden;
}

.app
{
	width: 100%;
}

.app-header
{
	text-align: center;
	width: 100%;
	height: 10vmin;
	padding: 2.5vmin 0;
	font-size: 5vmin;
	position: absolute;
	top: 0;
	left: 0;
	background-color: RoyalBlue;
	color: LightCyan;
}

/*============================================================================================================
 List View CSS
============================================================================================================*/
.list-view
{
	position: absolute;
	top: 10vmin;
	left: 0;
	width: 30vw;
	height: 100vw;
	background-color: LightSkyBlue;
	text-align: center;
}

.list-title
{
	color: RoyalBlue;
}

.venues-list
{
	text-align: left;
	list-style-type: none;
}

.venue
{
	padding-bottom: 10px;
	cursor: pointer;
}

.active-list-item
{
	background-color: LightCyan;
	border: 2px solid RoyalBlue;
}

.venue-name
{
	font-weight: bold;
}

.venue-cost
{
	font-weight: bold;
}

/*--Filter Buttons------------------------------------------------------------------------------------------*/
button
{
	font-weight: bold;
	background-color: CornflowerBlue;
	border: 2px solid RoyalBlue;
	cursor: pointer;
	padding: 10px;
}

.active-filter-button
{
	background-color: LightCyan;
}

/*--Date Category Control-----------------------------------------------------------------------------------*/
.meal
{
	color: Crimson;
}

.dessert-coffee
{
	color: Navy;
}

.entertainment
{
	color: DarkGreen;
}

/*============================================================================================================
 Map CSS
============================================================================================================*/
.my-map
{
	z-index: -1;
}

.place-info
{
	font-family: Arial Rounded MT Bold;
	text-align: center;
	color: RoyalBlue;
}

.place-name
{
	margin: 5px;
}

.descriptor
{
	font-weight: bold;
}

/*============================================================================================================
 Responsive Desgin Breakpoints
============================================================================================================*/
/*--Changing Font Sizes at 800px----------------------------------------------------------------------------*/
@media screen and (max-width: 800px)
{

}
