body, html
{
	height:100%;
}

body
{
	overflow: hidden;
}

#root
{
	height:100%;
	overflow:hidden;
	display: flex;
	flex-wrap: wrap;
}

.app
{
	width: 100%;
}

.app-header
{
	text-align: center;
	width: 100%;
}

.list-view
{
	text-align: center;
	border: 2px solid lightgrey;
	width: 30%;
	/* height: 100%; */
}

.venues-list
{
	text-align: left;
	list-style-type: none;
}

.meal
{
	color: blue;
}

.dessert-coffee
{
	color: red;
}

.entertainment
{
	color: purple;
}

.venue-name
{
	font-weight: bold;
}

.venue-cost
{
	font-weight: bold;
}

.map
{
	border: 2px solid lightgrey;
	width: 70%;
}
